body, html {
  background-color: #454545;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  cursor: default;
  padding: 0px;
  margin: 0px;
}
a {
  color: #FFF;
  text-decoration: none;
  font-size: 45px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 23px;
}
h5 {
  font-size: 17px;
}
.navBar {
  position: fixed;
  top: 0px;
  background-color: #595959;
  width: 100%;
  margin: 0px;
  padding: 10px;
  text-align: center;
}